@{
    var homepage = Model.AncestorOrSelf();

    var pdf = Library.MediaById(homepage.curriculumVitae);
}

<nav id="sub-nav">
    <ul>
        <li>
            <a class="lifted" href="@pdf.UmbracoFile">Download Sarah's CV</a>
        </li>
    </ul>
</nav>

